In [12]:
from keras.models import Sequential
import pandas as pd

In [2]:
model = Sequential()

In [6]:
from keras.layers import Dense, Activation
import keras

model.add(Dense(units=64, input_dim=100))
model.add(Activation('relu'))
model.add(Dense(units=10))
model.add(Activation('softmax'))

In [4]:
model.compile(loss='categorical_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])

In [9]:
.ix?

Object `ix` not found.

In [25]:
s3 = pd.Series([0,1,2,3], name='foo')
s4 = pd.Series([0,1,2,3], name='bar')
s5 = pd.Series([0,1,4,4], name='var')
result = pd.concat([s3,s4,s5],axis=1)
result.index = ['a','b','c','d']
result

   foo  bar  var
a    0    0    0
b    1    1    1
c    2    2    4
d    3    3    4